body{
	font-family:'Roboto';
	background: rgb(136,26,156);
	background: linear-gradient(61deg, rgba(226,50,250,1) 0%, rgba(43,238,255,1) 45%, rgba(245,159,255,1) 100%);
}

.navholder{
	display:flex;
	width:100%;
	justify-content: flex-end;
	background: linear-gradient(90deg, rgba(70,21,124,0.5) 0%, rgba(12,57,117,0.5) 25%, rgba(108,32,139,0.5) 100%);
	border-radius:5px;
}

.navholder .navbar{
	width:100%;
	display:flex;
	#justify-content: flex-start;
	align-items:stretch;
	direction:rtl;
	justify-content: space-between;
}

.navholder .navbar .right{
	display:flex;
}

.navholder .navbar .left{
	display:flex;
	direction:revert;
	align-items:stretch;
}

.navholder .navbar * .tablink a{
	text-decoration:none;
	font-weight:bold;
}

.navholder .navbar * .tablink a button{
	background:none;
	transition: 0.5s;
	
	align-items:center;
	display:flex;
	position:relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	
	text-transform:uppercase;
	text-decoration:none;
	color:rgba(200, 200, 200, 0.8);
	font-weight:bold;
}

.navholder .navbar * .tablink a button:hover{
	color: rgba(255, 255, 255, 1);
}
.navholder .navbar * .tablink a button:before{
	content: "";
	left: 0;
	top: 0;
	position:absolute;
	width:100%;
	height:100%;
	color:rgba(200, 200, 200, 0.5);
}

.userclick{
	width:1.15em;
	height:1.15em;
}

.intro{
	padding: 50px;
    text-align: center;
    font-size: 25;
    font-family: "Roboto";
    color: #18124Daa;
}

.h2{
	padding: 15px 0;
    text-align: center;
    font-size: 22;
    color: #18124Daa;
}

.cards{
	display:flex;
	justify-content:center;
	gap:5px;
}

.cards button{
	display: inline-block;
	color: #d8d2eDcc;
	position: relative;
	width:100%;
	overflow: hidden;
	aspect-ratio:3/4;
	background: rgb(70,21,124);
	background: linear-gradient(90deg, rgba(70,21,124,1) 0%, rgba(12,57,117,1) 25%, rgba(108,32,139,1) 100%);;
	background-size: cover;
	
	background-repeat: no-repeat;
    border: 2px solid;
	border-radius:20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	
}

.cards button img{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top:0;
	left:0;
}