body{
	font-family:'Roboto';
	background: rgb(136,26,156);
	background: #8c77e3;
}

.navholder{
	display:flex;
	width:100%;
	justify-content: flex-end;
	background: #3a435e;
}

.navholder .navbar{
	width:100%;
	display:flex;
	#justify-content: flex-start;
	align-items:stretch;
	direction:rtl;
	justify-content: space-between;
}

.navholder .navbar .right{
	display:flex;
}

.navholder .navbar .left{
	display:flex;
	direction:revert;
	align-items:stretch;
}

.navholder .navbar * .tablink a{
	text-decoration:none;
	font-weight:bold;
}

.navholder .navbar * .tablink a button{
	background:none;
	transition: 0.5s;
	
	align-items:center;
	display:flex;
	position:relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	
	text-transform:uppercase;
	text-decoration:none;
	color:#ac9de7;
	font-weight:bold;
}

.navholder .navbar * .tablink a button:hover{
	color: rgba(255, 255, 255, 1);
}
.navholder .navbar * .tablink a button:before{
	content: "";
	left: 0;
	top: 0;
	position:absolute;
	width:100%;
	height:100%;
	color:rgba(200, 200, 200, 0.5);
}

.userclick{
	width:1.15em;
	height:1.15em;
}

.cards{
	display:flex;
	justify-content:center;
	gap:5px;
}

.cards button{
	display: inline-block;
	position: relative;
	width:100%;
	overflow: hidden;
	aspect-ratio:3/4;
	background: rgb(70,21,124);
	background: linear-gradient(90deg, rgba(70,21,124,1) 0%, rgba(12,57,117,1) 25%, rgba(108,32,139,1) 100%);;
	background-size: cover;
	
	background-repeat: no-repeat;
    border: 2px solid;
	border-radius:20px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
	
}

.cards button img{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top:0;
	left:0;
}

.content{
	display: flex;
	position: relative;
	
	width:100%;
	height: 100%;
	
	flex-direction: column;
	align-items: center;
}
/*informacja-komunikat na gorze*/
.intro{
	padding: 50px;
    text-align: center;
    font-size: 25;
    font-family: "Roboto";
    color: #18124Daa;
}

/*przycisk do powrotu do profilu uzytkownika*/
.wroc {
	padding: 20px;
    font-size: 25;
	font-weight: bold;
    font-family: "Roboto";
    color: #d6cbff;
	background: #3a435e;
	border-color: #ac9de7;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
}

/*caly fragment z wyborem tableki, ktora chce sie zobaczyc czy zedytowac*/
.wybor{
	display: flex;
	position: relative;

	width:40%;
	height: 120px;
	padding-top: 5px;
	padding-bottom: 20px;
	margin-bottom: 20px;
    text-align: center;
    font-size: 20;
    color: #d6cbff;
	background-color:  #3a435e;
	font-family: 'Roboto';
	border-color: #ac9de7;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	
	flex-direction: column;
}
.container{
	display: flex;
	position: relative;

	justify-content: center;
	align-items: center
}
/*przycisk do przejscia do tabelki z uzytkownikami*/
.container .bt1 {
	display: flex;
	position: relative;

	width: 100px;

	padding: 10px;
	margin: 0 15px;
  font-size: 15;
  font-family: "Roboto";
  color:   #d6cbff;
	background: #5864a1;
	border:3px solid #ac9de7;
	border-radius: 15px;
	text-align: center;
	
	transition: 0.3s;
}
.container .bt1:hover{
	background: #6874b1;
}

/*przycisk do przejscia do tabelki z filmami*/
.container .bt2 {
	display: flex;
	position: relative;
	outline:none;

	width: 100px;
	
	padding: 10px;
	margin: 0 15px;
  font-size: 15;
  font-family: "Roboto";
  color:   #d6cbff;
	background: #5864a1;
	border:3px solid #ac9de7;
	border-radius: 15px;
	
	text-align: center;
  transition: 0.3s;
}
.container .bt2:hover{
	background: #6874b1;
}

/*tabelki*/

table {
	border-collapse: collapse;
	font-family: 'Roboto';
	width: 100%;
	display: flex;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

table::-webkit-scrollbar {
	display: none;
  }


td, th {
	border-color: #ac9de7;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
    padding: 10px;
	margin: 50px;
    max-width: 500px;
	background-color:  #3a435e;
    color: #d6cbff;
    box-sizing: border-box;
    text-align: center;
}

.table-container {
	width: 100%;
	position: relative;
	overflow: scroll;
	display: inline;
  }
